:root {
    --text-color: #FFF5E1;
    --bg-color: #6F4E37;
    --title-color: #FF6969;
    --text-footer-color: #C80036;
    
    font-family: 'Orbitron', sans-serif;
    line-height: 150%;
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/img/bg-img-45focus.png);
    background-size: cover;
}

#page {
    width: 800px;
    padding: 24px 40px;
    background-color: var(--bg-color);
    border-radius: 24px;
    margin: 48px;
    text-align: center;
    color: var(--text-color);
}

img {
    border-radius: 5%;
}

main {
    padding: 24px;
}

section section {
    margin-top: 24px;
}

#about p + p {
    margin-top: 12px;
}

h1 {
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    color: var(--title-color);
    margin-bottom: 4px;
    margin-top: 8px;
    line-height: 150%;
}

ul {
    padding: 0.5rem;
}

ul, li {   
    list-style-type: none;
}

footer {
    color: var(--text-footer-color);
    text-align: center;
    padding: 48px;
    font-weight: 500;
}

footer a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    color: var(--title-color);
}

@media screen and (max-width: 768px) {
    #page {
        width: 50%;
        padding: 16px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        border-radius: 1rem;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    img {
        display: block;
        width: 80%;
    }

    footer {
        text-align: center;
        padding: 16px;
    }
}

@media screen and (max-width: 480px) {
    #page {
        width: 100%;
        padding: 16px;
        font-weight: 600;
    }

    body {
        background-image: none;
        background-color: var(--bg-color);
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        text-align: center;
        padding: 16px;
        color: var(--title-color);
    }
}